<p>board works!</p>
<app-button
    (buttonClicked)="goBack.emit()"
    [text]="'Quit Game'"
    [disabled]="loading"
></app-button>
<app-button
    (buttonClicked)="skipTurn()"
    [text]="'Skip Turn'"
    [disabled]="loading"
></app-button>
<app-player
    *ngFor="let player of passivePlayers"
    [player]="player"
></app-player>
<app-card
    *ngFor="let card of activePlayer.handCards"
    (click)="playCard(card)"
    [disabled]="loading"
    [card]="card"
></app-card>
<app-player
    [player]="activePlayer"
></app-player>